#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Stat Booster Reroller
########################################
#
#    StatBoostReroll.Enable
#        Description: Enable/disable the re-roll item mechanic.
#        Default:     0 - Disabled
#                     1 - Enabled
#

StatBoostReroll.Enable = 0

#
#    StatBoostReroll.VisualId
#        Description: The spell id for the visual when an item is successfully re-rolled.
#        Default:     62015 - Test Visual
#

StatBoostReroll.VisualId = 62015

#
#    StatBoostReroll.AllowOwnedItemsOnly
#        Description: Enable/disable the re-rolling of owned items only.
#        Note: This avoids players being able to re-roll other players items.
#                     0 - Disabled
#        Default:     1 - Enabled
#

StatBoostReroll.AllowOwnedItemsOnly = 1
